<!-- nav bar begins -->
<nav role="navigation">
  <div id="menuToggle">
    <!--click reciever-->
    <input type="checkbox" />

    <!-- Some spans to act as a hamburger. -->
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <!--inside nav -->
      <a href="#home">
        <li>home</li>
      </a>
      <a href="#photography">
        <li>photography</li>
      </a>
      <a href="#code">
        <li>code &amp; design</li>
      </a>
      <a href="#shop">
        <li> shop prints &amp; more</li>
      </a>
      <a href="#info">
        <li>contact info &amp; pricing</li>
      </a>
    </ul>
    <!-- end of inside nav -->
  </div>
  <!-- end of menuToggle -->
</nav>
<!-- end of nav tag -->
<!-- end of nav -->