.greenbg {
    background: rgba(0, 206, 76, .75);
    height: 50vh;
    width: 100vw;
    position: relative;
    z-index: 0;
}

.titlealign {
    position: absolute;
    left: 50px;
    bottom: 15px;
}

.title {
    font-family: 'Patua One', cursive;
    color: rgb(237, 163, 157);;
    font-size: 75px;
     text-shadow: 2px 2px #ffffff;
}
